<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center d-flex">
      <div class="leftside col-4 offset-2 d-flex flex-column justify-content-center">
        <h1 class="font-weight-light text-light">LairShare</h1>
        <div class="lead text-light h3">For villains who know how to live.</div>
      </div>
      <div class="rightside text-left col-4">
        <p class="text-light">From exclusive penthouses to underground laboratories, 
        LairShare provides well-equipped, fully-secured lairs around the world.<p>

        <p class="text-light">Sign up today to join the fastest-growing, most secure 
        lairsharing network for supervillains and landlords alike.</p>

        <% if user_signed_in? %>
        <%= link_to "VIEW OUR LAIRS", lairs_path, class: "btn btn-success"  %>
        <% else %>
        <%= link_to "SIGN UP TODAY", new_user_session_path, class: "btn btn-success"  %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->

<div class="container">
  <div class="row flex-column">
    <h2>Why use LairBnB?</h2>
    <div>
      <div class="home-grid">
        <div class="grid-item">
        <div class="grid-title">Private and Safe</div>
        Only registered evildoers may add or access lair listings.
        </div>
        <div class="grid-item">
        <div class="grid-title">Meets Your Needs</div>
        Every lair comes with unique security and privacy features.
        </div>
        <div class="grid-item">
        <div class="grid-title">Premier Addresses</div>
        Build your villaneous reputation in comfort and luxury.
        </div>
      </div>
    </div>
  </div>

  <div class="row flex-column">
    <h2>Hear from our users</h2>
    <div>
      <div class="home-grid">
        <div class="grid-item">
        <div class="grid-title">An Evil CEO</div>
        With LairBnB, my lairs generate money even when I'm not staying there.
        </div>
        <div class="grid-item">
        <div class="grid-title">A Mad Scientist</div>
        I haven't had to worry about surprise superheroes in months!
        </div>
        <div class="grid-item">
        <div class="grid-title">Anonymous Senator</div>
        I've connected with so many old and new friends through LairBnB.
        </div>
      </div>
    </div>
  </div>

  <div class="row flex-column">
    <h2>Start your LairSharing journey today!</h2>
    <% if user_signed_in? %>
    <%= link_to "VIEW OUR LAIRS", lairs_path, class: "btn btn-success"  %>
    <% else %>
    <%= link_to "SIGN UP TODAY", new_user_session_path, class: "btn btn-success"  %>
    <% end %>
  </div>
</div>


  <div class="row flex-column">
  <h2>Share or see lairs now!</h2>
  </div>
<br><br>
</div>