<h1>Make <i>every</i> city your home base</h1>
<p>From exclusive penthouses to underground laboratories, LairBnB lets you stay in premier lairs around the world. Spend less time picking a place to stay, and more time thwarting heroes and plotting evil.</p>