<div class="container">
  <h1>Book a Lair</h1>
  <hr>
  <div id="booking-info">
    <strong>You're making a booking for:</strong> <%= @booking.lair.name %> <br>
    <strong>Lair of:</strong> <%= @booking.lair.user.title %> <br>
  </div>
  <hr>
  <div id="booking-form">
  </div>
</div>
