<h1>User Dashboard</h1>

<h2>My bookings</h2>




<%# I need to insert t%>

<%= link_to "Accept", accept_booking_path, class: "btn btn-info"  %>


<%= link_to "Decline", decline_booking_path, class: "btn btn-info"  %>



<h2>My Lairs</h2>


<h2>My offers for other lairs</h2>


<h2>My favorites</h2>


<%= render "lairs/new", user: @current_user, lair: @lair %>

