<h1>Welcome to Lairshare!</h1>

<form action="/lairs"> 
    <input name= "City" type="text"> 
    <input type="submit" value="find out lairs!"> 
</form>


<%= link_to "Dashboard", dashboard_path, class: "btn btn-info"  %>