<h1>Lairs#index</h1>
<ul>
  <% @lairs.each do |lair| %>
    <li>
      <% if @favourite_lairs.include?(lair)  %>
      it exists already!
      <% else %>
      <%= link_to lair_favourites_path(lair),
                  method: :post,
                  class: 'text-decoration-none favourite-button' do %>
        ♡
      <% end %>
    </li>
  <% end %>
</ul>