// Specific CSS for your home-page
.masthead {
    height: 40vh;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1542979915-a9c2df9a2e74'), linear-gradient(rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-success {
    background-color: #7F2C84 !important;
    color: white;
}